.list-header {
  font-size: 18px;
  font-weight: bold;
}

h2 {
  font-family: 'Georgia', Garamond, serif;
  font-size: 22px;
  font-weight: 400;
  font-style: italic;
  color: #332421;           /* Dark Chocolate Brown */
}

div {
  margin: 50px;
  padding-bottom: 50px;
}
